body {
  padding: 80px 0 0 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/*Multi Level Dropdown for Nav*/
@media (min-width: 768px) and (max-width: 991px) {
  .nav>li.dropdown>a {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 4px 0 4px 4px;
  border-left-color: #777;
  margin-top: 7px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #555;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.dropdown-menu span.caret{
  display: none;
}


input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor:pointer;
  display:block;
  width:8px;
  color: #333;
  text-align:center;
  position:relative;
}
 input[type=number] {
 -moz-appearance: textfield;
 appearance: textfield;
 margin: 0;
}


/*
  Bootstrap Panel
*/

.panel {
  min-width: 300px;
}

.panel-heading {
  background-color: #fff !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
  padding: 15px 15px 0 15px !important;
  border-bottom: none !important;
}

.panel-footer {
  background-color: #fff !important;
}
